.tabsHeader {
  width: 100%;
  border-bottom-width: 1px;
  border-color: var(--lightBg);
  flex-direction: row;
  overflow-x: auto;
  display: flex;
}

.tabsBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  transform: translateZ(0px);
}

.objectStyle {
  margin-left: 5px;
  margin-right: 5px;
}

.textClassName {
  font-size: var(--normal3);
}

.dummy {
  display: none;
}

@media (max-width: 480px) {
  .objectStyle {
    margin-bottom: 5px;
  }
  .textClassName {
    font-size: var(--normal1);
  }
}

@media (max-width: 370px) {
  .dummy {
    display: flex;
    padding-right: 30px;
  }
}