/*Common styles*/
.cards_wrapper {
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    min-height: 305px;
    margin: 15px;
    flex-grow: 0.5;
}
