/*common styles*/
.stats_wrapper {
  padding: 15px;
  color:#ffffff;
}

.stats_title {
  text-align: center;
  font-size: var(--normal3);
  color: var(--accent);
}

/*robotStats*/
.stats_container{
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
/*robotStats item*/
.stats_item{
  padding: 10px 0;
  min-width: 100px;
}

.stats_item_title{
  font-size: var(--normal1);
  border-bottom: 1px solid var(--accent);
  padding-bottom: 5px;
  text-align: center;
  color: var(--accent);
}
.stats_item_cnt {
  padding-top: 5px;
  text-align: center;
  font-size: var(--big1);
}
