/*common styles*/
.stats_wrapper {
    padding: 5px;
    color: #ffffff;
}

.stats_title {
    text-align: center;
    color: var(--accent);
}

/*robotStats*/
.stats_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
}
/*robotStats item*/
.stats_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px 10px;
}

.stats_item_title {
    min-width: 60px;
    border-bottom: 1px solid var(--accent);
    padding-bottom: 5px;
    text-align: center;
    color: var(--accent);
    overflow-wrap: break-word;
}
.stats_item_cnt {
    padding-top: 5px;
    text-align: center;
    font-size: var(--big1);
}
