.wrapper {
    padding: 0 10px;
    margin-top: 10px;
}

.table {
    width: 100%;
    margin: 2px 0;
    border-collapse: collapse;
}

.table_row {
    background-color: var(--dark);
    position: relative;
}

.table_cell {
    padding: 10px 20px;
}

.table_cell:first-child {
    padding-left: 20px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.table input {
    background-color: var(--darkBg);
    color: var(--accent);
}

.flex_spread {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*mdedia queries*/
@media (max-width: 480px) {
    .wrapper {
        margin-bottom: 60px;
    }
}
