.modal {
    max-height: 85%;
    max-width: 90%;
    width: 400px;
    overflow-y: auto;
}

.modal.mobile {
    max-height: 100%;
}

.row_item {
    display: flex;
    align-items: center;
}

.row_group {
    padding-left: 30px;
}

.group_head {
    margin: 5px 0px;
}

.order_arrows_group {
    display: flex;
    justify-content: center;
    width: 40px;
    margin-right: 5px;
    cursor: pointer;
}

.order_arrow svg:hover path {
    fill: var(--accent);
}

.checkbox {
    margin: 0 5px;
}
