.container {
	display: flex;
	flex-direction: column;

	margin: 0 auto;
}

.mainContainer {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	max-width: 1200px;

	margin-left: 200px;
}

.wrapFixed + .mainContainer {
	padding-top: 56px;
}

.mainMenuContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

@media (max-width: 420px) {
	.mainMenuContainer {
		padding-bottom: 2.6rem;
	}
}

.wrapFixed {
	position: fixed;
	z-index: 102;
	width: 100%;
	max-width: calc(100vw - 5px);
}

.wrapSticky {
	position: sticky;
	z-index: 102;
	width: 100%;
}

@media (max-width: 1200px) {
	.mainContainer {
		margin-left: 56px;
	}
}

@media (max-width: 480px) {
	.mainContainer {
		margin-left: 0;
	}
}
