.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .mainContainer {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    max-width: 1200px;
    position: relative;
    z-index: 0;
  }
  
  .mainMenuContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .wrapFixed {
    position: fixed;
    z-index: 102;
    width: 100%;
  }
  
  .wrapSticky {
    position: sticky;
    z-index: 102;
    width: 100%;
  }
  
  @media (max-width: 1200px) {
    .mainContainer {
      margin-left: 56px;
    }
  }
  
  @media (max-width: 480px) {
    .mainContainer {
      margin-left: 0;
    }
  }