.app {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 60px;
  margin-bottom: 40px;
  max-width: 1448px;
}

.free {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 1448px;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.robotsSteps {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.robotsStep {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.robotsStepsTitle {
  margin-bottom: 40px;
  text-align: center;
  font-size: 38px;
  line-height: 42px;
  font-weight: bold;
  color: white;
}

.robotsStepText {
  margin-bottom: 40px;
  font-size: var(--big1);
  line-height: var(--big2);
  color: var(--whiteFaded);
}

.robotsStepCircle {
  margin-top: 11px;
  margin-right: 18px;
}

.robotsTextAccent{
  color: white;
}

.tradingAppImgContainer{
  display: flex;
  flex: 1;
  height: 431px;
  margin-top: 0;
}

.telegramBotImg {
  width: 357px;
  height: 658px;
  margin: 0;
}

.tradingAppImg {
  width: 700px;
  height: 429px;
  max-width: 100%;
  object-fit: contain;
  border-bottom-width: 1px;
  border-color: var(--whiteLight);
}

@media (max-width: 1200px) {
  .app {
    align-items: center;
    flex-direction: column;
  }
  .free {
    align-items: center;
    flex-direction: column;
  }
  .robotsStepText {
    font-size: var(--normal3);
    line-height: var(--big1);
  }
  .tradingAppImgContainer {
    height: 197px;
    margin-top: 45px;
  }
  .tradingAppImg {
    width: 320px;
    height: 196px;
  }
  .telegramBotImg {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
