.container {
    margin-top: 20px;
}
.card {
    min-height: 305px;
    margin: 15px;
    flex-grow: 0.2;
}

.regionTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: var(--normal3);
    color: var(--accent);
}
