.container {
  display: flex;
  padding-top: 0;
  padding-left: 0;
  background-color: var(--dark);
  flex-direction: column;
  box-shadow: var(--shadow);
}

.cardItemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--darkBg);
  padding-top: 10px;
  padding-left: 0;
}