.title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 38px;
  line-height: 42px;
  font-weight: bold;
  color: white;
}

.aboutus {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 80px;
  background-color: var(--rgbaDark);
  padding: 20px;
}

@media (max-width: 1200px) {
  .aboutus {
    flex-direction: column;
  }
}

.colText {
  font-size: var(--normal3);
  line-height: var(--big2);
  color: var(--whiteFaded);
  margin-bottom: 20px;  
}