.button {
	display: inline-block;
	flex-basis: 33.33%;
	width: 100%;

	padding: 5px 0 5px;

	cursor: pointer;
	border-width: 1px;
	border-color: transparent;
	border-radius: 2px;
	background-image: linear-gradient(#2e3248, #1f233f);
}

.button:not(:first-of-type) {
	margin-left: 5px;
}

@media (max-width: 670px) {
	.button {
		margin-bottom: 10px;
	}
}

@media (max-width: 390px) {
	.button {
		font-size: var(--normal0);
	}
}

.active {
	color: white;
	border-color: var(--primary);
	background-color: #22446c;
	background-image: none;
}

.buttonGroup {
	display: flex;
	justify-content: center;
	width: 100%;

	margin: 0 auto;
	margin-bottom: 40px;
	/* padding: 0 10px; */

	text-align: center;
}

.free {
	margin: 2px 0 0;
	padding: 0;

	color: var(--secondary);

	font-size: 14px;
}
