.button {
	display: inline-block;
	min-width: calc(100% / 9);
	min-height: 60px;

	padding: 12px 20px 0;

	cursor: pointer;
	color: white;
	border-width: 1px;
	border-color: transparent;
	border-radius: 2px;
	background-image: linear-gradient(#2e3248, #1f233f);

	font-size: 18px;
}

.button:not(:first-of-type) {
	margin-left: 5px;
}

@media (max-width: 670px) {
	.button {
		margin-bottom: 10px;
	}
}

.active {
	color: white;
	border-color: var(--primary);
	background-color: #22446c;
	background-image: none;
}

.buttonGroup {
	display: flex;
	justify-content: center;

	margin: 0 auto;
	margin-bottom: 40px;

	text-align: center;
}

@media (max-width: 670px) {
	.buttonGroup {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.free {
	margin: 2px 0 0;
	padding: 0;

	color: var(--secondary);

	font-size: 14px;
}
