.title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 38px;
  line-height: 42px;
  font-weight: bold;
  color: white;
}

.pricing {
  width: 100%;
  margin: 0 auto;
}

.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

@media (max-width: 1340px) {
  .grid {
    justify-content: center;
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .grid {
    width: auto;
    flex-direction: column;
  }
}
