.backdrop {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.7);
}

.modal {
	position: absolute;
	z-index: 9999;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	background-color: var(--dark);
}

@media (max-width: 480px) {
	.modal {
		overflow-y: scroll;
		height: 100%;
	}
}

.noBackground {
	background-color: transparent;
}

.noScroll {
	position: fixed;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.noScroll > div {
	position: fixed;
	width: 100%;
	max-width: calc(100vw - 5px);
}
