/*table*/
.user_text_cell {
  width: 100%;
  color: #ffffff;
  font-size: 13px;
  box-sizing: border-box;
  word-break: break-word;
  padding-right: 5px;
}

.user_text_cell span {
  color: var(--accent);
}
