/*table cells*/
.default_cells_wrapper {
  width: 100%;
  color: #ffffff;
  font-size: 15px;
  box-sizing: border-box;
  word-break: break-word;
  padding-right: 5px;
}

.default_cells_wrapper span {
    color: var(--accent);
}

.robot_chart_cell {
    box-sizing: border-box;
}
