.accordionTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 10px 20px;
  font-size: var(--normal3);
  color: var(--accent);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.topCards {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 290px;
}

.topCardsContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .topCards {
    margin-left: 0;
  }
}