.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 20px 40px;
  border-radius: 2px;
}

@media (max-width: 1200px) {
  .col {
    margin-bottom: 10px;
  }
}

.colBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.colTitle {
  text-align: center;
  font-size: var(--big3);
  line-height: var(--big3);
  color: white;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.colDescription {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-size: var(--big4);
  color: var(--whiteFaded);
  white-space: pre-wrap;
}

.colText {
  font-size: var(--normal3);
  line-height: var(--big2);
  color: var(--whiteFaded);
  white-space: pre-line;
  margin-bottom: 20px;
}

.colFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
