.container {
	display: flex;
	justify-content: center;
	width: 100%;

	margin-bottom: 5px;
	padding-top: 20px;

	border-bottom: 1px solid var(--lightBg);
}

.wrapper {
	display: flex;
	max-width: 100%;
}

.tab {
	margin: 0 30px;
}

.tab:first-child {
	margin-left: 0;
}

.tab:last-child {
	margin-right: 0;
}

@media (max-width: 1080px) {
	.tab {
		margin: 0 10px;
	}
}

@media (max-width: 480px) {
	.container {
		padding-top: 0;
	}
	.tab {
		word-break: break-all;
	}
}
