.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    height: 3.75rem;
}

.leftContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.leftContainer .logo:hover,
.leftContainer .logo:focus {
    opacity: 0.7;
}

.rightContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.btnTitle {
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--small1);
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    opacity: 1;
}

.btnTitle:link,
.btnTitle:visited {
    color: white;
}

.btnTitle:hover,
.btnTitle:focus {
    opacity: 0.7;
}

.btnTitle:active {
    opacity: 0.2;
}

.btnWrapper {
    height: 34px;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

@media (max-width: 992px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .rightContainer .btnWrapper:last-of-type {
        margin-right: 0;
    }

    .btnTitle {
        font-size: var(--small2);
        padding-left: 5px;
        padding-right: 5px;
    }
}
