.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainMenu {
  height: 100vh;
  z-index: 103;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainMenuItemWrapper {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: stretch;
  width: 190px;
}

.mainMenuItem {
  cursor: pointer;
  font-weight: 500;
  padding: 8px;
  display: flex;
  align-items: center;
  position: relative;
}

.mainMenuItemText {
  margin-left: 32px;
  margin-right: 32px;
  font-size: 14px;
  text-align: left;
}

.bigLogo {
  width: 72px;
  height: 71px;
}

.menuInactive {
  color: var(--inactiveGray);
}

.menuActive {
  color: #fff;
}

.menuItemActive {
  background-color: var(--activeSelect);
  border-radius: 2px;
}

.menuGroupLine {
  margin-top: 4px;
  background-color: rgba(0, 0, 0, 0.12);
  height: 1px;
  width: 100%;
}

.mainMenuMobile {
  display: none;
}

@media (max-width: 1200px) {
  .mainMenuItemWrapper {
    width: 40px;
    margin-left: 5px;
  }
  .itemLabel {
    display: none;
  }
  .bigLogo {
    width: 30px;
    height: 29px;
  }
  .mainMenu {
    width: 56px;
  }
}

@media (max-width: 480px) {
  .mainMenu {
    display: none;
  }
  .mainMenuMobile {
    display: flex;
    position: fixed;
    z-index: 103;
    bottom: 0;
    width: 100%;
    top: auto;
    justify-content: space-around;
    background-color: var(--dark);
  }
}