.container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 56px;
  margin-left: 200px;
  max-width: 1200px;
}

.mainMenuContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 200px;
}

.navBarContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.wrapFixed {
  position: fixed;
  width: 100%;
}