.container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  margin-left: 200px;
  max-width: 1200px;
  position: relative;
  z-index: -1;
}

.mainMenuContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 200px;
}

.wrapFixed {
  position: fixed;
  z-index: 102;
  width: 100%;
}

@media (max-width: 1200px) {
  .mainMenuContainer {
    width: 56px;
  }
  .mainContainer {
    margin-left: 56px;
  }
}
