.labelContainer {
    color: var(--accent);
    display: flex;
    justify-content: center;
    margin: 15px 0;
    font-size: var(--normal2);
    text-align: center;
}

@media (max-width: 480px) {
    .labelContainer {
        font-size: var(--normal0);
    }
}
