.btnPosition {
  display: flex;
  align-items: center;
  margin: 6px auto;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1200px) {
  .btnPosition {
    margin-top: 10px;
  }
}