.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loading {
  margin: 100px auto;
}

.empty {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
}