.title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 38px;
  line-height: 42px;
  font-weight: bold;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
}

.gridLeft {
  flex: 0 1 40%;
  flex-direction: row;
  margin-bottom: 80px;
}

.gridRight {
  flex: 0 1 40%;
  margin-bottom: 80px;
}

@media (max-width: 1200px) {
  .grid {
    flex-direction: column;
  }
}
