.container {
    height: 58px;
    width: 100%;
    box-shadow: var(--shadow);
    background-color: var(--dark);
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    position: relative;
}

.title,
.subtitle {
    height: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
}

.title {
    width: 30%;
}

.icon {
    display: flex;
    align-items: center;
    margin: 5px;
    position: absolute;
    right: 10px;
    padding-bottom: 5px;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:active {
    background-color: var(--lightBg);
    background-size: 100%;
    transition: background 0s;
}

@media (max-width: 720px) {
    .title,
    .subtitle {
        padding: 8px 0;
    }
    .title {
        width: 35%;
    }
}
