.container {
  margin-top: 10px;
  margin-bottom: 0;
  box-shadow: var(--shadow);
}

.title {
  display: flex;
  align-items: center;
  padding: 8px;
  flex-direction: row;
  cursor: pointer;
  background-color: var(--dark);
  position: relative;
  height: 58px;
  user-select: none;
}

.icon {
  margin: 5px;
  position: absolute;
  right: 10px;
  padding-bottom: 5px;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:active {
  background-color: var(--lightBg);
  background-size: 100%;
  transition: background 0s;
}

@media (max-width: 1200px) {
  .container {
    box-shadow: none;
  }
  .title {
    box-shadow: var(--shadow);
  }
}
