.wrapper {
	width: 350px;
}

.container {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.searchInput {
	padding: 10px;
	padding-right: 35px;
	color: var(--accent);
	border-radius: 2px;
	background-color: var(--darkBg);
	font-size: var(--normal1);
}

.icon {
	position: absolute;
	top: 11px;
	right: 8px;
}

.pointer {
	cursor: pointer;
}

.searchInput::-webkit-input-placeholder, .searchInput::placeholder {
	color: var(--accent);
}

@media (max-width: 550px) {
	.wrapper {
		width: 250px;
	}
	.searchInput {
		font-size: var(--small1);
	}
}

@media (max-width: 490px) {
	.wrapper {
		width: 230px;
	}
}

@media (max-width: 390px) {
	.wrapper {
		width: 240px;
	}
}

@media (max-width: 330px) {
	.wrapper {
		width: 195px;
	}
}
