.wrapper {
    width: 350px;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.searchInput {
    background-color: var(--darkBg);
    color: var(--accent);
    border-radius: 2px;
    padding: 10px;
    padding-right: 35px;
    font-size: var(--normal1);
}

.icon {
    position: absolute;
    right: 8px;
    top: 11px;
}

.pointer {
    cursor: pointer;
}

.searchInput::-webkit-input-placeholder,
.searchInput::placeholder {
    color: var(--accent);
}

@media (max-width: 550px) {
    .wrapper {
        width: 300px;
    }
    .searchInput {
        font-size: var(--small1);
    }
}

@media (max-width: 490px) {
    .wrapper {
        width: 250px;
    }
}

@media (max-width: 390px) {
    .wrapper {
        width: 230px;
    }
}

@media (max-width: 330px) {
    .wrapper {
        width: 200px;
    }
}
