.tableTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-width: 2px;
  border-color: var(--darkBg);
  padding: 24px 20px 12px;
};

.tableTitleText {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--normal3);
  color: var(--accent);
}