.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    z-index: 0;
    height: calc(100vh - var(--header-height));
}

.mainContainer.withNav {
    margin-left: var(--header-height);
}

.mainContainer.withFullNav {
    margin-left: var(--menu-width);
}

.wrapFixed {
    position: fixed;
    z-index: 102;
    width: 100%;
}

.wrapSticky {
    position: sticky;
    z-index: 102;
    width: 100%;
}

@media (max-width: 480px) {
    .mainContainer {
        margin-left: 0;
    }
}
