.container {
    right: 0;
    position: absolute;
    background: var(--lightBg);
    padding: 10px 15px;
    z-index: 100;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 5px;

}
.root {
    width: 200px;
}