.mobile_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
}
.mobile_item {
  width: 48%;
  box-sizing: border-box;
  padding: 10px;
}
.mobile_item:last-child{
  text-align: center;
}

.mobile_item_title{
  font-size: var(--small1);
  color: var(--accent);
  padding-bottom: 5px;
}

.mobile_item_val{
  color: #ffffff;
  font-size: var(--small1);
}
