.checkBoxWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.textColor {
  color: white;
}

.textColorDisabled {
  color: var(--whiteLight);
} 

.checkbox {
  height: 16px;
  width: 16px;
  border: 2px solid;
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
}

.unchecked {
  border-color: var(--whiteFaded);
}

.disabled {
  border-color: rgba(0, 0, 0, 0.26);
}

.checked {
  border-color: var(--accent);
}

.checkedIcon {
  position: absolute;
  top: -4px;
  left: -2px;
}

.loadingContainer {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 2px;
  bottom: 0;
  right: 0;
}