.main_content_container {
    composes: content_container from "./Common.module.css";
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

  /*cards*/
.step_card {
    composes: card from "./Common.module.css";
    margin: 15px auto;
    display: flex;
    cursor: pointer;
    padding: 25px;
    align-items: center;
}

.step_card_accent {
    color: var(--accent);
}

.step_card_icon {
    min-width: 60px;
}

/*Последняя карточка для анонимных пользователей*/
.last_step_card_container {
  margin: auto;
  margin-bottom: 60px;
}

/*contact support*/
.contact_support_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*RESPONSIVE*/
@media (min-width:920px){
  .main_content_container{
      flex-direction: row;
  }
  .main_content_section:first-child {
    margin-right: 15px;
    width: 55%;
  }
  .main_content_section:nth-child(2) {
    width: 45%;
  }
  .last_step_card_container {
    width: 80%;
  }
}
