/*cards*/
.step_card {
    composes: card from "./Common.module.css";
    margin: 15px auto;
    display: flex;
    color: var(--whiteFaded);
    cursor: pointer;
    padding: 25px;
    align-items: center;
}

.step_card_icon {
    min-width: 80px;
}

/*contact support*/
.contact_support_card {
  composes: card from "./Common.module.css";
  margin: 15px auto;
  padding: 15px;
  cursor: pointer;
  color: var(--whiteFaded);
}

.contact_support_card_title {
  text-align: center;
  font-size: var(--big1);
}
.contact_support_card_description{
  padding: 15px 0 10px 15%;
}

/*additional*/
.step_card:active, .contact_support_card:active{
  transform: translateY(10px) scale(0.98);
}

/* responsive */
@media (min-width: 500px) {
  .step_card {
    width: 60%;
  }
  .contact_support_card{
    width: 60%;
  }
  .contact_support_card_title{
    text-align: left;
  }
}
