.textMessageDesktop {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: var(--normal1);
}

.textMessageCard {
	color: white;
	font-size: var(--small1);
}

.messageRow {
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
}

.row {
	display: flex;
	flex-direction: row;
}

.rowCard {
	display: flex;
	flex-direction: column;
}

.rowRobot {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 5px;
}

.rowRobotProfit {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
}

.colRobot {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.textAccent {
	color: var(--accent);
	font-size: var(--normal1);
}

.cursor {
	cursor: pointer;
}

.textAccentCard {
	color: var(--accent);
	font-size: var(--small1);
}

.alertRow {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 5px;
}
