.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 300px;
	margin: 5px;
	padding: 10px;
	background-color: var(--dark);
	box-shadow: var(--shadow);
}

.dateGroup {
	display: flex;
	flex-direction: row;
	margin-bottom: 3px;
}

.dateText {
	color: var(--accent);
	font-size: var(--small2);
}

.mark {
	margin-top: -4px;
	color: var(--negative);;
}

@media (max-width: 320px) {
	.card {
		max-width: unset;
	}
}

.textMessageCard {
	color: white;
	font-size: var(--small1);
}
