.tableRow {
	display: flex;
	flex-direction: row;

	padding: 15px 20px;

	border-color: var(--darkBg);
	border-top-width: 2px;
}

.dateText {
	margin-bottom: 3px;

	color: var(--accent);

	font-size: var(--small2);;
}

.mark {
	margin-top: -4px;

	color: var(--negative);;
}

.lineGroup {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.dateGroup {
	display: flex;
	flex-direction: row;
}

.support_link {
	padding-top: 10px;
}

.textMessageDesktop {
	color: white;

	font-size: var(--normal1);
}
