.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 2px 0;
  background-color: var(--dark);
}

.titleName {
  display: flex;
  flex-direction: column;
  flex: 0.55;
  color: var(--accent);
  font-size: var(--small1);
  min-width: 276px;
}

.titlePerformance {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  color: var(--accent);
  font-size: var(--small1);
  padding-left: 10px;
  padding-right: 40px;
}

.titleStatistics {
  display: flex;
  flex-direction: column;
  flex: 0.49;
  color: var(--accent);
  font-size: var(--small1);
}

.titleStatus {
  display: flex;
  flex-direction: column;
  flex: 0.46;
  color: var(--accent);
  font-size: var(--small1);
}

.titleAction {
  display: flex;
  flex-direction: column;
  flex: 0.31;
  color: var(--accent);
  font-size: var(--small1);
}