.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 2px 0;
    background-color: var(--dark);
}

.title {
    color: var(--accent);
    font-size: var(--small1);
}
