.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.containerCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--darkBg);
  margin-top: 15px;
}