.bodyTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: vars(--normal2);
  line-height: var(--big1);
  color: var(--accent);
}

.btnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
}

.btn {
  margin: 10px;
}

.bodyText {
  margin-top: 5px;
  text-align: center;
}

@media (max-width: 480px) {
  .btnsContainer {
    margin: 0 auto;
  }
}