.tabsHeader {
  width: 100%;
  border-bottom-width: 1px;
  border-color: var(--lightBg);
}

.tabsBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.objectStyle {
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 480px) {
  .tabsBtns {
    justify-content: flex-start;
  }
}