.row {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	max-width: 50%;
}

.col {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
	padding: 20px 40px;
	border-radius: 2px;
}

@media (max-width: 1200px) {
	.row {
		max-width: none;
	}

	.col {
		margin: 0 0 10px;
		padding: 20px 10px;
	}
}

.colBody {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.iconWrapper {
	margin-top: 20px;
	margin-bottom: 20px;
}

.colTitle {
	margin-bottom: 0;
	padding: 0;
	text-align: center;
	color: white;
	font-size: var(--big3);
	line-height: var(--big3);
}

.colPosition {
	margin-bottom: 20px;
	text-align: center;
	color: white;
	font-size: var(--big4);
}

.colText {
	margin-bottom: 20px;
	white-space: pre-line;
	color: var(--whiteFaded);
	font-size: var(--normal3);
	line-height: var(--big2);
}

.colFooter {
	display: flex;
	align-items: center;
	flex-direction: column;
}
