.title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 38px;
  line-height: 42px;
  font-weight: bold;
  color: white;
}

.founders {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.grid {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  flex-direction: row;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .founders {
    flex-direction: column;
  }
  .grid {
    flex-direction: column;
    align-items: center;
  }
}
