.title {
	margin-top: 20px;
	margin-bottom: 10px;

	text-align: center;
	color: white;

	font-size: 38px;
	font-weight: bold;
	line-height: 42px;
}

.founders {
	width: 100%;
	max-width: 1200px;

	margin: 0 auto;
	margin-bottom: 60px;
}

.grid {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-around;
}

@media (max-width: 1200px) {
	.founders {
		flex-direction: column;
	}
	.grid {
		align-items: center;
		flex-direction: column;
	}
}
