.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	width: 100%;
	max-width: 420px;
	height: 100%;

	margin-right: 20px;
	margin-bottom: 30px;
	margin-left: 20px;

	border-radius: 2px;
	background-color: var(--rgbaDark);
	box-shadow: rgba(11, 152, 197, 0.2) 0 0 20px;
}

.primaryText {
	color: white;

	font-weight: bold;
}

.secondaryText {
	text-align: right;
	color: white;

	font-size: var(--small1);
}

.header {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;

	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;

	background-color: var(--dark);
}

.headerStats {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.statCol {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	width: auto;

	margin: 10px 15px 10px 0;
}

.statRow {
	display: flex;
	align-items: flex-end;
	flex-direction: column;

	margin-bottom: 10px;
}

.label {
	color: var(--accent);

	font-size: var(--small2);
}

.statValue {
	color: white;

	font-size: var(--small1);
	line-height: var(--normal2);
}

.chartStat {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.chartCol {
	flex-grow: 2;
	max-width: 260px;

	padding-left: 15px;
}

.btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: auto;

	padding: 0 15px 15px;
}

.negative {
	color: var(--danger);
}

.positive {
	color: var(--secondary);
}

.wide {
	display: inline;

	margin-bottom: 5px;
}

.mobile {
	display: none;
}

@media (max-width: 768px) {
	.primaryText {
		text-align: right;
	}
	.label {
		font-size: var(--small1);
	}
	.chartStat {
		flex-direction: column;
	}
	.statCol {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		margin-top: 10px;
		margin-left: 0;
	}
	.statRow {
		align-items: center;
	}
}

@media (max-width: 480px) {
	.container {
		margin-right: 0;
		margin-left: 0;
	}
	.btns {
		flex-direction: column;
	}
	.btn {
		margin-top: 8px;
	}
}

@media (max-width: 400px) {
	.wide {
		display: none;
	}
	.mobile {
		display: inline;
	}
	.primaryText {
		text-align: left;
	}
	.label {
		font-size: var(--small2);
	}
}
