.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--lightBg);
  padding-top: 20px;
  padding-bottom: 20px;
  flex-shrink: 1;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.iconGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  align-items: center;
  user-select: none;
}

.iconGroup:active {
  opacity: 0.2;
}

.text {
  font-size: var(--small1);
  color: white;
}