.regionTitle {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: var(--normal3);
  color: var(--accent);
}

.surface {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  min-height: 340px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 40px 50px;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  box-shadow: var(--shadow);
  justify-content: flex-start;
}

.stub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--normal2);
  color: var(--accent);
}

.title h4 {
  margin: 0;
}

@media (max-width: 1100px) {
  .title {
    flex-wrap: wrap;
  }
}

.beta {
  color: white;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 30px;
  height: auto;
}

.comment {
  text-align: center;
  font-size: var(--small1);
  color: var(--accent);
}

@media (max-width: 768px) {
  .surface {
    padding: 20px 25px;
    max-width: 420px;
  }
}

@media (max-width: 480px) {
  .surface {
    max-width: 312px;
    padding: 20px 15px;
  }
}

.container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 240px;
  margin: 8px 5px 0;
  background-color: var(--dark);
  border-radius: 2px;
  box-shadow: var(--shadow);
}

.tableCellText {
  font-size: var(--normal1);
  color: white;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.secondaryText {
  color: var(--accent);
  font-size: var(--small1);
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
}

@media (max-width: 480px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .exchangeCell {
    grid-column: span 2;
  }
}

.errorCell {
  grid-column: 1 / span 2;
  grid-row-start: 3;
  padding: 5px 5px;
}

.errorCellText {
  font-size: 0.8em;
}

.topPart {
  padding: 10px 0;
  margin: 0 auto;
}

.name {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.exchangeCell {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.btnGroup {
  display: flex;
  margin-top: auto;
  align-content: flex-end;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .btnGroup {
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
  }

  .exchangeCell {
    grid-column: span 2;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: unset;
  }
}
