.regionTitle {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: var(--accent);
	font-size: var(--normal3);
}

.surface {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	max-width: 500px;
	height: 100%;
	min-height: 340px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 40px 50px;
	background-color: var(--dark);
	box-shadow: var(--shadow);
}

.titleStab {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin: 5px 5px 18px;
	color: var(--whiteFaded);
	font-size: var(--normal0);
}

.titleStab svg {
	margin-right: 10px;
}

.stub {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--accent);
	font-size: var(--normal2);
}

.title h4 {
	margin: 0;
}

@media (max-width: 1100px) {
	.title {
		flex-wrap: wrap;
	}
}

.beta {
	color: white;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	margin: 20px auto 30px;
}

.comment {
	text-align: center;
	color: var(--accent);
	font-size: var(--small1);
}

@media (max-width: 1100px) {
	.surface {
		max-width: 480px;
		padding: 20px 20px;
	}
}

@media (max-width: 768px) {
	.surface {
		max-width: 420px;
		padding: 20px 25px;
	}
}

@media (max-width: 480px) {
	.surface {
		min-width: 320px;
	}
	.subsContainer {
		align-items: center;
		flex-direction: column;
		padding: 0 20px;
	}
	.exchangeCell {
		flex-direction: row;
	}

	.rowButtonGroup {
		margin-top: 25px;
	}
	.rowButtonGroup > * {
		margin-bottom: 15px;
	}
}

.container {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 240px;
	margin: 8px 5px 0;
	border-radius: 2px;
	background-color: var(--dark);
	box-shadow: var(--shadow);
}

.tableCellText {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: white;
	font-size: var(--normal1);
}

.secondaryText {
	color: var(--accent);
	font-size: var(--small1);
}

.subsContainer {
	display: flex;
	justify-content: space-between;
}

.rowButtonGroup {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.rowButtonSingle {
	justify-content: flex-start;
	padding-top: 25px;
}


@media (max-width: 480px) {
	.row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
	}

	.rowButtonSingle {
		margin-bottom: 20px;
		padding-top: 0;
	}
}

.errorCell {
	padding: 5px 5px;

	grid-column: 1 / span 2;
	grid-row-start: 3;
}

.errorCellText {
	font-size: 0.8em;
}

.topPart {
	margin: 0 auto;
	padding: 10px 0;
}

.name {
	display: flex;
	overflow: hidden;
	align-items: center;
}

.exchangeCell {
	display: flex;
	flex-direction: column;
	padding: 15px 0;
}

.btnGroup {
	display: flex;
	align-content: flex-end;
	justify-content: space-between;
	margin-top: auto;
}

@media (max-width: 480px) {
	.btnGroup {
		align-content: center;
		flex-direction: column;
		flex-grow: 1;
		justify-content: space-evenly;
	}

	.btnCheckout {
		margin-top: 25px;
	}
}

@media (max-width: 480px) {
	.container {
		max-width: unset;
	}
}

.loader {
	position: relative;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.cancel .text {
	min-width: 300px;
	max-width: 420px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

.cancel .title {
	margin-bottom: 20px;
	color: white;
	font-size: 24px;
}

.cancel .btnGroup {
	width: 200px;
}

@media (max-width: 480px) {
	.cancel .btnGroup {
		flex-direction: row;
		width: 200px;
	}
}

.checkout {
	width: 100%;
	max-width: 420px;
	padding: 0;
}

.checkout .frame {
	opacity: 0;
	background-color: transparent;
}

.checkout .content {
	min-width: 320px;
	text-align: center;
	color: white;
}

.checkout .text {
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
	white-space: pre-line;
	font-size: 14px;;
}

.checkout .howItWorks {
	display: block;
	margin: 10px 0 30px;
	font-size: 14px;
}

.checkout .secondaryText {
	margin-bottom: 6px;
}
