.exchangeContainerMobile {
    display: flex;
    justify-content: space-between;
}

.exchange {
    display: flex;
    align-items: center;
    font-size: var(--big1);
    color: white;
    margin: 10px 0;
}

.assetHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--normal1);
    background-color: var(--dark);
    color: white;
    padding: 10px 20px;
}

.assetHeaderMobileStats {
    display: flex;
    font-size: var(--normal0);
    color: var(--accent);
    flex-direction: column;
}

@media (max-width: 1080px) {
    .exchange {
        font-size: var(--normal3);
    }
}

@media (max-width: 480px) {
    .exchange {
        font-size: var(--normal1);
    }
    .assetHeader {
        font-size: var(--normal0);
    }
}

/* Table styles */

.tableHeader {
    border-top-width: 2px;
    border-color: var(--darkBg);
    background-color: var(--dark);
    padding-left: 20px;
    padding-right: 20px;
}

.tableGridRow {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.tableHeaderText {
    color: var(--accent);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: var(--small1);
}

.headerValueSpan {
    font-size: var(--normal1);
}

.wrapper {
    display: flex;
    align-items: center;
}

.cardItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0;
    padding-bottom: 8px;
}

/* /// */
.tableRow {
    display: flex;
    flex-direction: row;
    border-top-width: 2px;
    border-color: var(--darkBg);
    padding: 15px 20px;
    align-items: center;
    background-color: var(--dark);
}

.positionGroup {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    opacity: 1;
}

.tableCellText {
    font-size: var(--normal0);
    color: white;
}

.secondaryText {
    color: var(--accent);
    font-size: var(--small1);
}

.volumeGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.limitWrapper {
    display: flex;
    flex-direction: column;
    min-width: 190px;
}

.codeGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.positionGroup:active {
    opacity: 0.2;
}


