.container {
    display: flex;
    background-color: var(--darkBg);
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
    width: 100%;
}

.containerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--darkBg);
    padding-top: 10px;
    padding-left: 0;
    margin-bottom: 10px;
    width: 100%;
}

@media (max-width: 480px) {
    .containerCard {
        margin-bottom: 60px;
    }
}
