/*Base*/
.content_wrapper {
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 50px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card_description {
    display: flex;
    justify-content: center;
}

.card_icon {
    min-width: 60px;
}

.section_title {
    margin-top: 10px;
    text-align: center;
    padding: auto 20px;
    font-size: var(--normal3);
    color: var(--accent);
}

.card {
    background-color: var(--dark);
    box-shadow: var(--shadow);
    padding: 10px;
    margin: 15px 0;
    color: #ffffff;
}

/*common responsive*/
@media (min-width: 500px) {
    .card_support_title {
        text-align: left;
    }
}
