/*Base*/
.content_wrapper {
	box-sizing: border-box;

	margin-bottom: 50px;
	padding: 15px;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
}

@media (max-width: 420px) {
	.container {
		padding-bottom: 2.6rem;
	}
}

.card_description {
	display: flex;
	justify-content: center;
}

.card_icon {
	min-width: 60px;
}

.section_title {
	margin-top: 10px;
	padding: auto 20px;

	text-align: center;
	color: var(--accent);

	font-size: var(--normal3);
}

.card {
	margin: 15px 0;
	padding: 10px;

	color: #fff;
	background-color: var(--dark);
	box-shadow: var(--shadow);
}

/*common responsive*/
@media (min-width: 500px) {
	.card_support_title {
		text-align: left;
	}
}
