.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #58585863;
    z-index: 100;
    top: 45px;
}
.modalInput {
    width: 100%;
}
.bodyTitle {
    margin-bottom: 15px;
    text-align: center;
    font-size: var(--normal2);
    line-height: var(--big1);
    color: var(--accent);
}
.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #58585863;
    z-index: 100;
    top: 45px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formComment {
    margin-bottom: 25px;
}

.bodyText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: var(--normal1);
    line-height: var(--normal3);
    color: white;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 380px;
}

.fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    margin: 10px;
}

.label {
    color: var(--accent);
}

.wizardContainer {
    min-width: 550px;
    margin: 0 40px 20px;
}

.selectGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnSelectGroup {
    margin-left: 10px;
}

.noKeysText {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    font-size: var(--normal2);
    color: var(--accent);
}

.step3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: -30px auto 30px;
}

.iconWrapper {
    margin-top: 15px;
}

.input_group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.value_group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value_row {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.volume {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.volume_text {
    min-width: 35px;
    font-size: var(--normal2);
    color: white;
    margin-left: 5px;
}

.delimiter {
    font-size: var(--normal2);
    color: white;
    text-align: center;
    padding-right: 40px;
}

.input_container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .wizardContainer {
        min-width: unset;
        margin-left: 15px;
        margin-right: 15px;
    }
    .selectGroup {
        flex-direction: column;
    }
    .btnSelectGroup {
        margin-left: 0;
    }
    .select {
        margin-bottom: 10px;
    }
    .container {
        min-width: 250px;
    }
    .step3 {
        min-width: 250px;
    }
}
