.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.formComment {
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.label {
    color: var(--accent);
}

.label.description {
    display: grid;
    text-align: center;
    font-size: 12px;
    margin: 10px 0 10px 0;
}

.label.description span{
    line-height: 2;
}
.fieldset {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
