.title {
	margin-top: 20px;

	text-align: center;
	color: white;

	font-size: 38px;
	font-weight: bold;
	line-height: 42px;
}

.aboutus {
	width: 100%;
	max-width: 1200px;

	margin: 0 auto 80px;
	padding: 0 20px;
}

@media (max-width: 1200px) {
	.aboutus {
		flex-direction: column;
	}
}

.colText {
	margin-bottom: 20px;

	text-align: center;
	white-space: pre-wrap;
	color: var(--whiteFaded);

	font-size: var(--normal3);
	line-height: var(--big2);
}

.epigraph, .welcome {
	margin: 0;

	font-size: 24px;
}
