.chat_form_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
}

.chat_form_button {
    width: 60%;
    margin: auto;
    padding-top: 15px;
}
.chat_form_error {
    padding-top: 20px;
    color: #ff0000;
}

/* responsive */
@media (min-width: 550px) {
    .chat_form_textarea_wrapper {
        width: 78%;
    }
    .chat_form_button {
        width: 20%;
        padding-top: 0;
    }
    .chat_form_container {
        height: 50px;
        flex-direction: row;
    }
}
