.content_container{
  margin: 15px 0;
}
.chat_icon {
  min-width: 60px;
}

.message_container {
  display: flex;
  margin-bottom: 15px;
}
.message {
  min-width: 200px;
  max-width: 60%;
  border-radius: 5px;
  padding: 34px 15px 15px 15px;
  color: #ffffff;
  position: relative;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.68);
  border-radius: 5px;
}