.select {
  background-color: var(--darkBg);
  color: var(--accent);
  border-radius: 2px;
  padding: 11px;
  font-size: var(--normal1);
  -moz-appearance: none;
	-webkit-appearance: none;
  appearance: none;
  width: 200px;
}

.container {position:relative; display: inline;}
.container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.container:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: .4em;
    right: .75em;
    border-top: 8px solid var(--accent);
    opacity: 0.5;
}
.select::-ms-expand {
    display: none;
}