.tableHeader {
	padding-right: 20px;
	padding-left: 20px;

	border-color: var(--darkBg);
	border-top-width: 2px;
	background-color: var(--dark);
}

.tableGridRow {
	display: grid;

	grid-template-columns: repeat(4, 25%);
}

.tableHeaderText {
	padding-top: 10px;
	padding-bottom: 10px;

	color: var(--accent);

	font-size: var(--small1);
}

.headerValueSpan {
	font-size: var(--normal1);
}

.wrapper {
	display: flex;
	align-items: center;
}

.cardItemsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

	margin-right: 5px;
	margin-left: 5px;
	padding-bottom: 8px;
	padding-left: 0;
}
