.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 320px;
	height: 100%;

	margin: 8px 5px 0;

	border-radius: 2px;
	background-color: var(--dark);
	box-shadow: rgba(0, 0, 0, 0.24) 0 3px 4px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cardCaption {
	align-items: center;

	padding: 10px 5px 10px 10px;

	cursor: pointer;
	opacity: 1;
	background-color: var(--dark);
}

.cardBody {
	align-items: flex-start;

	margin-top: 5px;
	padding: 0 10px 10px;
}

.cellText {
	color: white;

	font-size: var(--normal1);
	line-height: var(--normal2);
}

.headerText {
	color: var(--accent);

	font-size: var(--small2);
}

.secondaryText {
	color: var(--accent);

	font-size: var(--small1);
}

.tableCellText {
	color: white;

	font-size: var(--normal1);
}

.sectionGroup {
	display: flex;
	flex-direction: column;
}

.actionGroup {
	display: flex;
	flex-direction: row;
}

.iconGroup {
	display: flex;
	align-items: center;
	flex: 1;
	flex-direction: row;
}

.rowCaption:active {
	opacity: 0.2;
}

.colFlexEnd {
	display: flex;
	align-items: flex-end;
}

.rowFlexEnd {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}
