.headerButtonPrimary {
  margin-left: 10px;
  background-image: linear-gradient( rgb(11,152,197), rgb(4,97,128)) !important;
}

.headerButtonSuccess {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .headerButton {
    margin-left: 0;
    margin-top: 5px;
  }
}

