.tabsHeader {
    width: 100%;
    border-bottom-width: 1px;
    border-color: var(--lightBg);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabsBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    transform: translateZ(0px);
}

.normalText {
    font-size: var(--normal3);
}
