.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    margin: 0 5px 10px;
    background-color: var(--rgbaDark);
    border-radius: 2px;
    box-shadow: var(--shadow);
    color: white;
}

.header {
    padding: 10px 12px 10px 15px;
    min-height: 46px;
    background-color: var(--dark);
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 234px;
}

.body {
    padding: 10px 20px 0 10px;
}

.footer {
    padding: 0 20px 10px 10px;
}

@media (max-width: 480px) {
    .header {
        font-size: var(--small1);
    }
}
