.textarea {
  background-color: var(--darkBg);
  color: var(--accent);
  border-radius: 2px;
  padding: 11px;
  overflow: hidden;
  resize: none;
  font-size: var(--normal1);
  width: 300px;
}

@media (max-width: 480px) {
  .textarea {
    width: 250px;
    height: 90px;
  }
}