.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.formRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
  margin-bottom: 20px;
}

.label {
  min-width: 80px;
  margin-right: 20px;
  font-size: var(--normal1);
  color: var(--accent);
}

.inputError {
  border-color: var(--negative);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.telegramName {
  font-size: var(--normal1);
  color: white;
}

@media (max-width: 768px) {
  .formRow {
    flex-direction: column;
  }
  .label {
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .inputContainer {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
}