.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.label {
  min-width: 140px;
  margin-right: 20px;
  font-size: var(--normal1);
  color: var(--accent);
}

.fieldset {
  display: flex;
  flex-direction: column;
}

.star {
  color:var(--negative);
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.btn {
  margin: 10px 5px;
}

.oneInputAlign {
  display: flex;
  justify-content: center;
}